
@{
    ViewData["Title"] = "Traveler HomePage";
    Layout = "_HomePageLayout";
}

<form action="Traveler/SearchForGuidesInLocation" method="post">
    <input type="text" name="location" placeholder="For my next trip I want to go to..."/>
    <input  type="submit" value="Search"/>
</form>

