@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Travel</h1>
    <h4>Your Travel is a Hub where travelers can find guides for a custom travel experience.</h4>
</div>