@model YourTravelTcc.Models.Guide

@{
    ViewData["Title"] = "SignUpAsGuide";
    Layout = "_SignUpLayout";
}

<h4>Create yout Guide account</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUpAsGuide" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <input asp-for="CompanyID" class="form-control" type="number"/>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonData.FirstName" class="control-label"></label>
                <input asp-for="PersonData.FirstName" class="form-control" type="text" required/>
                <span asp-validation-for="PersonData.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonData.SurName" class="control-label"></label>
                <input asp-for="PersonData.SurName" class="form-control" type="text" required/>
                <span asp-validation-for="PersonData.SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonData.CountryID" class="control-label"></label>
                <input asp-for="PersonData.CountryID" class="form-control" type="number" required/>
                <span asp-validation-for="PersonData.CountryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonData.PhoneNumber" class="control-label"></label>
                <input asp-for="PersonData.PhoneNumber" class="form-control" type="text" required/>
                <span asp-validation-for="PersonData.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonData.Email" class="control-label"></label>
                <input asp-for="PersonData.Email" class="form-control" type="email" required/>
                <span asp-validation-for="PersonData.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonData.Password" class="control-label"></label>
                <input asp-for="PersonData.Password" class="form-control" type="password" required/>
                <span asp-validation-for="PersonData.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sing Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



